html {
  font-family: roboto;
}

.texture {
  background-image: url(../images/backgrounds/m_image.jpg);
  background-repeat: repeat;
}

#welcome {
  background-image: url(../images/backgrounds/h_img.jpg);
  background-size: cover;
}

#aboutus {
  background-size: cover;
  color: black;
  text-align: center;
}

#services {
  background-image: url(../images/backgrounds/s_image.jpg);
  background-size: cover;
}

#whatwedo {
  background-size: cover;
  color: black;
}

#portfolio {
  background-size: cover;
  color: black;
}

#portfolio img {
  width: 100%;
  margin-top: 10px;
}

#contactus {
  background-image: url(../images/backgrounds/c_image.jpg);
  background-size: cover;
}

#socials {
  background-size: cover;
  color: black;
}

.row {
  color: white;
  text-align: center;
}

#logo {
  margin-top: 210px;
  margin-bottom: 0px;
}

.h1 {
  margin-top: 35px;
}

h6 {
  font-size: smaller;
}

#mouseclick {
  margin-bottom: 10px;
  margin-top: 145px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

input {
  background-color: rgba(178, 34, 34, 0);
  border-color: white;
  border-style: solid;
  border-width: thin;
  color: white;
}

textarea {
  border-color: white;
  border-width: thin;
  border-style: solid;
  background-color: rgba(178, 34, 34, 0);
  color: white;
}

::placeholder {
  color: white;
}

#des-text {
  display: none;
}

#dev-text {
  display: none;
}

#prod-text {
  display: none;
}

.img-names {
  position: absolute;
  background-color: rgba(255, 255, 255);
  font-family: monospace;
  display: none;
}

.imagecontainer {
  position:relative;
}
